<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">

    <title><%= title %></title>
</head>
<body>
<div class="container">
    <h1><%= title %></h1>
    <div class="row flex-xl-nowrap">
        <main role="main">
            <table class="table" style="width: 100%">
                <thead>
                <tr>
                    <th scope="col">Key</th>
                    <th scope="col">Value</th>
                </tr>
                </thead>
                <tbody>
                <% for (const [key, value] of Object.entries(env)) { %>
                    <tr>
                        <th scope="row" style="word-break: break-all; width: 25%"><%= key %></th>
                        <td style="word-break: break-all; width: 75%"><%= value %></td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </main>
    </div>
</div>
</body>
</html>
