<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Sample page: <a href="./env">ENV</a></p>
    <p>Sample page: <a href="./mysql">SQL</a></p>
  </body>
</html>
